In [1]:
'''This notebook is to load the noisy data indices per brainstate and plot the raw data.
Written December 2022'''

'This notebook is to load the noisy data indices per brainstate and plot the raw data.\nWritten December 2022'

In [2]:
import os 
import numpy as np 
import pandas as pd 
import mne
import matplotlib.pyplot as plt

In [3]:
path_to_brainstate_files = '/home/melissa/PREPROCESSING/GRIN2B/GRIN2B_numpy/'

#load the constants for list of animal ids 
os.chdir('/home/melissa/PROJECT_DIRECTORIES/GRIN2B/scripts/')
%run GRIN2B_constants

## Load dataframes per brainstate with noisy indices

### <span style='color:green'> Change the brainstate here to quantify indices for each sleep stage: </span>

In [4]:
brain_state_number = 0

In [5]:
if brain_state_number == 2:
    brainstate = 'REM'
elif brain_state_number == 1:
    brainstate = 'NREM'
elif brain_state_number == 0:
    brainstate = 'Wake'

In [7]:
os.listdir('/home/melissa/RESULTS/GRIN2B/Power/NOISY_IDX/Indices')

['wake_br_1_concat.csv',
 'NREM_noisy_indices_br_1_old_algo.csv',
 'REM_noisy_indices_br_1_old_algo_channel_0.csv',
 'wake_power_old_algo.csv',
 'REM_noisy_indices_br_1_old_algo.csv',
 'wake_noisy_indices_br_2_old_algo_channel_0.csv',
 'wake_noisy_indices_br_1_old_algo.csv',
 'wake_power_channel_0.csv',
 'wake_noisy_indices_br_1_old_algo_channel_0.csv',
 'wake_noisy_indices_br_2_old_algo.csv',
 'NREM_noisy_indices_br_1_old_algo_channel_0.csv',
 'NREM_noisy_indices_br_2_old_algo.csv',
 'REM_noisy_indices_br_2_old_algo.csv',
 'REM_noisy_indices_br_2_old_algo_channel_0.csv',
 'wake_br_2_concat.csv',
 'NREM_noisy_indices_br_2_old_algo_channel_0.csv']

In [11]:
os.chdir('/home/melissa/RESULTS/GRIN2B/Power/NOISY_IDX/Indices')
noisy_idx_br_1 = pd.read_csv('wake_br_1_concat.csv')
noisy_idx_br_2 = pd.read_csv('wake_br_2_concat.csv')

In [12]:
start_time_df_list_br_1 = []
start_time_df_list_br_2 = []
quantifying_indices = []
for animal in br_animal_IDs:
    os.chdir(path_to_brainstate_files)
    br_1 = pd.read_pickle(str(animal) + '_BL1.pkl')
    br_2 = pd.read_pickle(str(animal) + '_BL2.pkl')
    noisy_epochs_1 = noisy_idx_br_1.loc[noisy_idx_br_1['Animal_ID'] == int(animal)]
    noisy_epochs_2 = noisy_idx_br_2.loc[noisy_idx_br_2['Animal_ID'] == int(animal)]
    #CHECK THAT THERE ARE NO DUPLICATE INDICES 
    indices_br_1 = list(set(noisy_epochs_1['epoch_idx'].tolist()))
    indices_br_2 = list(set(noisy_epochs_2['epoch_idx'].tolist()))
    quantifying_noisy_indices = {'Animal_ID': [animal], 'number_noisy_epochs' : [len(indices_br_1) + len(indices_br_2)]}
    quantifying_indices.append(pd.DataFrame(data = quantifying_noisy_indices))
    br_state_noisy_1 = br_1.loc[br_1['brainstate'] == brain_state_number]
    br_state_noisy_2 = br_2.loc[br_2['brainstate'] == brain_state_number]
    br_1_start_times = []
    br_2_start_times = []
    if len(indices_br_1) > 0:
        for idx_1 in indices_br_1:
            start_epoch = br_state_noisy_1.iloc[idx_1]['start_epoch']
            br_1_dict = {'animal_id': [animal], 'start_time_seconds': [start_epoch]}
            br_1_start_times.append(pd.DataFrame(data = br_1_dict))
    else:
        pass 
    if len(indices_br_2) > 0:
        for idx_2 in indices_br_2:
            start_epoch = br_state_noisy_2.iloc[idx_2]['start_epoch']
            br_2_dict = {'animal_id': [animal], 'start_time_seconds': [start_epoch]}
            br_2_start_times.append(pd.DataFrame(data = br_2_dict))
    else:
        pass
    
    if len(br_1_start_times) > 0:
        start_time_df_list_br_1.append(pd.concat(br_1_start_times))
    else:
        pass
    
    if len(br_2_start_times) > 0:
        start_time_df_list_br_2.append(pd.concat(br_2_start_times))
    else:
        pass

In [13]:
br_1_df = pd.concat(start_time_df_list_br_1)
br_2_df = pd.concat(start_time_df_list_br_2)
idx_quantify = pd.concat(quantifying_indices)

## This dataframe has each animal id and the number of epochs that were removed from the brainstate 1 epochs

In [31]:
br_1_df

   animal_id  start_time_seconds
0        378               69005
0        378               69020
0        378               69030
0        378                  85
0        378                  90
..       ...                 ...
0        375               40365
0        375               40360
0        375               40375
0        375               66665
0        375               40390

[69909 rows x 2 columns]

## This dataframe has each animal id and the number of epochs that were removed from the brainstate 2 epochs

In [32]:
br_2_df

   animal_id  start_time_seconds
0        378               68240
0        378               68260
0        378               68275
0        378               68305
0        378               68310
..       ...                 ...
0        375               17210
0        375               81775
0        375               17260
0        375               81850
0        375               50720

[68283 rows x 2 columns]

## This dataframe has each animal id and the number of epochs that were removed

In [33]:
idx_quantify

  Animal_ID  number_noisy_epochs
0       378                 3049
0       382                 3888
0       383                 7442
0       401                 1418
0       402                 1339
0       404                 1889
0       424                 3202
0       430                 2773
0       433                 5230
0       140                 5178
0       129                 3661
0       130                 3368
0       131                 4786
0       132                 2213
0       137                 3929
0       138                 3020
0       139                 7866
0       227                 6087
0       228                 3424
0       229                 3872
0       236                 5106
0       237                 3553
0       238                 1275
0       239                 4632
0       240                 2474
0       241                 3947
0       362                 1723
0       363                 4149
0       364                 5425
0       365                 2384
0       366                 4671
0       367                 3344
0       368                 5104
0       369                 4023
0       371                 2391
0       373                 4885
0       375                 1472

 # Plot raw data with mne

### <span style='color:green'> change animal id: </span>

In [42]:
animal_id = 130 #insert animal id here that you want to plot

#
os.chdir('/home/melissa/PREPROCESSING/GRIN2B/GRIN2B_numpy/')
data_file = np.load(str(animal_id) + '_GRIN2B.npy')

### <span style='color:green'> insert alfredo's code to plot here: </span>